In [1]:
#PROBLEM - A: WHEN SHOULD I MAKE A TRIP TO LONDON - WHEN ARE RENTAL PRICES GENERALLY LOW?
#PROBLEM - B: WHERE SHOULD I STAY - WHICH LOCATION HAS GOOD RATINGS AND GREAT HOSTS?

# STAGE 1 - STUDY THE DATASETS 
# STAGE 2 - FIND PATTERNS ACROSS TIME 
# STAGE 3 - FIND PATTERNS ACROSS SPACE - GEOGRAPHY 
# STAGE 4 - USE LINEAR REGRESSION TO PREDICT PRICE
# STAGE 5 - USE KMEANS CLUSTER TO SEGMENT HOSTS

In [ ]:
### STAGE 1 - STUDY THE DATASETS ###
# Datasource - http://insideairbnb.com/get-the-data.html > London > Listings.csv; last scraped on 11 June 2020.

In [73]:
import pandas as pd
import numpy as np

In [100]:
csv_list = ['listings-InsideAirbnb-11062020.csv',
           'listings-detailed-InsideAirbnb-11062020.csv',
           'calendar-insideairbnb-11062020.csv']

def opener(list_):
    n = 0
    dfs = []
    while n < len(list_):
        df = pd.read_csv(list_[n])
        print("-----------DF no.", n+1, "---------------")
        print(df.shape)
        print(df.head())
        dfs.append(df)
        n += 1
    return dfs

In [101]:
dfs_list = opener(csv_list)

-----------DF no. 1 ---------------
(83711, 16)
      id                                               name  host_id  \
0  11551         Arty and Bright London Apartment in Zone 2    43039
1  13913                Holiday London DB Room Let-on going    54730
2  15400                Bright Chelsea  Apartment. Chelsea!    60302
3  17402              Superb 3-Bed/2 Bath & Wifi: Trendy W1    67564
4  17506  Boutique Chelsea/Fulham Double bed 5-star ensuite    67915

   host_name  neighbourhood_group           neighbourhood  latitude  \
0    Adriano                  NaN                 Lambeth  51.46225
1      Alina                  NaN               Islington  51.56802
2   Philippa                  NaN  Kensington and Chelsea  51.48796
3        Liz                  NaN             Westminster  51.52195
4  Charlotte                  NaN  Hammersmith and Fulham  51.47935

   longitude        room_type  price  minimum_nights  number_of_reviews  \
0   -0.11732  Entire home/apt     88               2                192
1   -0.11121     Private room     65               1                 21
2   -0.16898  Entire home/apt    100              10                 89
3   -0.14094  Entire home/apt    300               3                 42
4   -0.19743     Private room    150               3                  0

  last_review  reviews_per_month  calculated_host_listings_count  \
0  2020-03-26               1.54                               2
1  2020-02-22               0.18                               3
2  2020-03-16               0.70                               1
3  2019-11-02               0.37                              15
4         NaN                NaN                               2

   availability_365
0               347
1               347
2               288
3               326
4               346
-----------DF no. 2 ---------------
(83711, 106)
      id                         listing_url       scrape_id last_scraped  \
0  11551  https://www.airbnb.com/rooms/11551  20200611182946   2020-06-16
1  13913  https://www.airbnb.com/rooms/13913  20200611182946   2020-06-16
2  15400  https://www.airbnb.com/rooms/15400  20200611182946   2020-06-16
3  17402  https://www.airbnb.com/rooms/17402  20200611182946   2020-06-13
4  17506  https://www.airbnb.com/rooms/17506  20200611182946   2020-06-15

                                                name  \
0         Arty and Bright London Apartment in Zone 2
1                Holiday London DB Room Let-on going
2                Bright Chelsea  Apartment. Chelsea!
3              Superb 3-Bed/2 Bath & Wifi: Trendy W1
4  Boutique Chelsea/Fulham Double bed 5-star ensuite

                                             summary  \
0  Unlike most rental apartments out there my fla...
1  My bright double bedroom with a large window h...
2  Lots of windows and light.  St Luke's Gardens ...
3  You'll have a wonderful stay in this superb mo...
4  Enjoy a chic stay in this elegant but fully mo...

                                               space  \
0  Amenities Bedding: 1 Double bed, 1 living room...
1  Hello Everyone, I'm offering my lovely double ...
2  Bright Chelsea Apartment  This is a bright one...
3  This is a wonderful very popular beautiful, sp...
4  Enjoy a boutique London townhouse bed and brea...

                                         description experiences_offered  \
0  Unlike most rental apartments out there my fla...              family
1  My bright double bedroom with a large window h...            business
2  Lots of windows and light.  St Luke's Gardens ...            romantic
3  You'll have a wonderful stay in this superb mo...                none
4  Enjoy a chic stay in this elegant but fully mo...            business

                               neighborhood_overview  ... instant_bookable  \
0  Not even 10 minutes by metro from Victoria Sta...  ...                t
1  Finsbury Park is a friendly melting pot commun...  ...                f
2                                     It is Chelsea.  ...                t
3  Location, location, location! You won't find b...  ...                t
4  Fulham is 'villagey' and residential – a real ...  ...                f

  is_business_travel_ready          cancellation_policy  \
0                        f  strict_14_with_grace_period
1                        f                     moderate
2                        f  strict_14_with_grace_period
3                        f  strict_14_with_grace_period
4                        f  strict_14_with_grace_period

  require_guest_profile_picture require_guest_phone_verification  \
0                             f                                t
1                             f                                f
2                             t                                t
3                             f                                f
4                             f                                f

   calculated_host_listings_count  \
0                               2
1                               3
2                               1
3                              15
4                               2

   calculated_host_listings_count_entire_homes  \
0                                            2
1                                            1
2                                            1
3                                           15
4                                            0

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            2
2                                            0
3                                            0
4                                            2

   calculated_host_listings_count_shared_rooms  reviews_per_month
0                                            0               1.54
1                                            0               0.18
2                                            0               0.70
3                                            0               0.37
4                                            0                NaN

[5 rows x 106 columns]
-----------DF no. 3 ---------------
(30553644, 7)
   listing_id        date available    price adjusted_price  minimum_nights  \
0       62901  2020-06-17         f   $55.00         $55.00             1.0
1      147244  2020-06-15         f  $149.00        $149.00             3.0
2      147244  2020-06-16         f  $149.00        $149.00             3.0
3      147244  2020-06-17         f  $149.00        $149.00             3.0
4      147244  2020-06-18         f  $149.00        $149.00             3.0

   maximum_nights
0           730.0
1            90.0
2            90.0
3            90.0
4            90.0

In [102]:
#Inspect the columns of each dataframe
columns = dfs_list[2].columns

for i in columns:
    print (i)

listing_id
date
available
price
adjusted_price
minimum_nights
maximum_nights

In [103]:
date_price_df = dfs_list[2]
# CHECKPOINT
date_price_df.to_csv('date_price.csv')

In [122]:
# CHECKPOINT - START HERE #
date_price_df = pd.read_csv('date_price.csv')
date_price_df.head()

,Unnamed: 0,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,0,62901,2020-06-17,f,$55.00,$55.00,1.0,730.0
1,1,147244,2020-06-15,f,$149.00,$149.00,3.0,90.0
2,2,147244,2020-06-16,f,$149.00,$149.00,3.0,90.0
3,3,147244,2020-06-17,f,$149.00,$149.00,3.0,90.0
4,4,147244,2020-06-18,f,$149.00,$149.00,3.0,90.0

In [123]:
#useful columns - date & prices in list 1
df = date_price_df.loc[:, ["listing_id","date", "price"]]
# price_df.to_csv('price.csv')
print(df.shape)
df.head()
print("No. of unique listings is", df['listing_id'].nunique())
print("No. of unique dates is", df['date'].nunique())
##observation - each location may have multiple listings

(30553644, 3)
No. of unique listings is 83711
No. of unique dates is 375

In [124]:
df.isnull().sum()
df.dropna(inplace = True)

In [125]:
print(df.shape)
print(df.isnull().sum())

(30552882, 3)
listing_id    0
date          0
price         0
dtype: int64

In [126]:
### Transform columns into the right format
##change date from str to datetime
df['dt'] = pd.to_datetime(df['date'])
df.head()

   listing_id        date    price         dt
0       62901  2020-06-17   $55.00 2020-06-17
1      147244  2020-06-15  $149.00 2020-06-15
2      147244  2020-06-16  $149.00 2020-06-16
3      147244  2020-06-17  $149.00 2020-06-17
4      147244  2020-06-18  $149.00 2020-06-18

In [127]:
##change price from str to float
def currency_converter(n):
    new_n = n.replace('$', '').replace(',', '')
    return new_n

In [128]:
df['price_num'] = df['price'].apply(currency_converter)
df.head()

   listing_id        date    price         dt price_num
0       62901  2020-06-17   $55.00 2020-06-17     55.00
1      147244  2020-06-15  $149.00 2020-06-15    149.00
2      147244  2020-06-16  $149.00 2020-06-16    149.00
3      147244  2020-06-17  $149.00 2020-06-17    149.00
4      147244  2020-06-18  $149.00 2020-06-18    149.00

In [ ]:
#Explore the following:
## check number of unique listing ids; if there are multiple listings from the same id, then groupby listing id
#average out the px and check price distribution? 
## step 1 - check price distribution by count
## step 2 - check price distriution by date

time_gb = df.groupby(df['dt'].dt.strftime('%B')).sum()
time_gb

Unnamed: 0       0
listing_id       0
date             0
price         1118
price_num     1118
dtype: int64

In [44]:
#Drop rows without pricing data

Unnamed: 0    0
listing_id    0
date          0
price         0
price_num     0
dtype: int64

In [46]:
price_df['price_num'] = price_df['price'].apply(currency_converter)
price_df.head()

   Unnamed: 0  listing_id        date    price price_num
0           0      171686  2019-09-15   $90.00     90.00
1           1       81449  2019-09-15  $141.00    141.00
2           2       81449  2019-09-16  $141.00    141.00
3           3       81449  2019-09-17  $141.00    141.00
4           4       81449  2019-09-18  $141.00    141.00

In [54]:
price_df['dt'] = pd.to_datetime(price_df['date'])
price_df.head()

Unnamed: 0             int64
listing_id             int64
date                  object
price                 object
price_num             object
dt            datetime64[ns]
dtype: object

In [55]:
price_df.dtypes

Unnamed: 0             int64
listing_id             int64
date                  object
price                 object
price_num             object
dt            datetime64[ns]
dtype: object

In [52]:
price_id_gb = price_df.groupby(['listing_id'])
mean_price = price_id_gb['price_num'].mean
mean_price
#the list represents daily rates of 85273 hosts

In [59]:
price_dt_gb = price_df.groupby(['dt'])
seasonal_price = price_dt_gb['price_num'].describe()
seasonal_price

            count unique     top  freq
dt
2019-09-14  18878    540  100.00   729
2019-09-15  85265    909   50.00  2778
2019-09-16  85265    907   50.00  2758
2019-09-17  85265    913   50.00  2765
2019-09-18  85265    919   50.00  2758
2019-09-19  85265    917   50.00  2739
2019-09-20  85265    931   50.00  2696
2019-09-21  85265    937   50.00  2679
2019-09-22  85265    917   50.00  2784
2019-09-23  85265    915   50.00  2772
2019-09-24  85265    911   50.00  2773
2019-09-25  85265    919   50.00  2764
2019-09-26  85265    925   50.00  2744
2019-09-27  85265    945   50.00  2699
2019-09-28  85265    945   50.00  2664
2019-09-29  85265    922   50.00  2761
2019-09-30  85268    922   50.00  2757
2019-10-01  85268    931   50.00  2761
2019-10-02  85268    941   50.00  2758
2019-10-03  85268    945   50.00  2763
2019-10-04  85268    974   50.00  2672
2019-10-05  85268    988   50.00  2663
2019-10-06  85268    934   50.00  2741
2019-10-07  85268    933   50.00  2763
2019-10-08  85268    933   50.00  2760
2019-10-09  85268    939   50.00  2752
2019-10-10  85268    933   50.00  2741
2019-10-11  85268    956   50.00  2671
2019-10-12  85268    979   50.00  2653
2019-10-13  85268    927   50.00  2774
...           ...    ...     ...   ...
2020-08-30  85272    997  100.00  2485
2020-08-31  85272    993  100.00  2486
2020-09-01  85272    989  100.00  2474
2020-09-02  85272   1001  100.00  2487
2020-09-03  85272    991  100.00  2477
2020-09-04  85272   1018  100.00  2475
2020-09-05  85272   1023  100.00  2477
2020-09-06  85271    982  100.00  2480
2020-09-07  85271    987  100.00  2485
2020-09-08  85271    988  100.00  2484
2020-09-09  85271    983  100.00  2489
2020-09-10  85271    988  100.00  2482
2020-09-11  85271   1049  100.00  2478
2020-09-12  85271   1042  100.00  2481
2020-09-13  66574   1000   50.00  1969
2020-09-14      3      3  100.00     1
2020-09-15      3      3  100.00     1
2020-09-16      3      3  100.00     1
2020-09-17      3      3  100.00     1
2020-09-18      3      3  115.00     1
2020-09-19      3      3  115.00     1
2020-09-20      3      3  100.00     1
2020-09-21      3      3  100.00     1
2020-09-22      3      3  100.00     1
2020-09-23      3      3  100.00     1
2020-09-24      3      3  100.00     1
2020-09-25      3      3  115.00     1
2020-09-26      3      3  115.00     1
2020-09-27      3      3  100.00     1
2020-09-28      3      3  100.00     1

[381 rows x 4 columns]